/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
*{
    margin: 0;
    padding: 0;
}

/*styling and position for the main background page*/
#main-background {
    height: 100vh;
    background-image: url("../images/main-background 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*transparent box to hold the content of the home page*/
#box-container {
    max-width: 650px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,.9);
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
}

/*align and structure the contents within the box*/

#main-heading {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5;
    font-size: 50px;
}

#box-container h3 {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    top: 20%;
    transform: translateY(-40%);
    font-weight: bold;
    font-size: 30px;
}

/*Main Page button styling and animation*/

.main-buttons {
    border-radius: 25px;
    display: block;
    margin: 20px auto;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    width: 180px;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border: 2px solid #082040;
    color: black;
    overflow: hidden;
    background: transparent;
    box-shadow: inset 0 0 0 0 #082040;
    transition: ease-out 0.3s;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

a {
    text-decoration: none;
}

.main-buttons:hover {
    box-shadow: inset 180px 0 0 0 #082040;
    color: whitesmoke;
    cursor: pointer;
}

/*styling for pop-up instructions box*/
.instructions-box {
    width: 400px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    height: 300px;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-box {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.instructions-box h2{
    text-transform: uppercase;
    margin: 30px 0 10px;
    font-size: 30px;
    font-weight: 500;
}

/*styling for instructions box button*/
.instructions-box button {
    margin-top: 10px;
    width: 80%;
    padding: 10px 0;
    background: #178CA6;
    border: 0;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.instructions-box li{
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: left;
}

/*style for the questions page*/
#quiz-content {
    background: url('../images/background-quiz-page.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}

/*create transparent question box*/
#question-container {
    position: relative;
    width: 800px;
    height: 500px;
    background: rgba(0,0,0,.7);
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    color: whitesmoke;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#quiz-timer {
    margin: 20px 10px;
}

/*position top display items with the question container box*/
#top-display {
    display: flex;
    justify-content: space-between;
}

#top-display-prefix {
    font-weight: bold;
    font-size: 20px;
}

.top-display-item {
    text-align: center;
    margin: 20px 20px;
}

.user-score {
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
}

/*Styling for prograess bar*/
#progressBar {
    width: 10rem;
    height: 1rem;
    border: 0.1rem solid #F2F2F2;
    margin-top: 10px;
}

#progressBarFull {
    height: 1rem;
    background-color: #F2F2F2;
    width: 0%;
    padding: 0px;
}

/*structuting and aligning questions and options within the questions container box*/
#league-questions {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

#options-container {
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 5px;
    height: 230px;
    margin-right: 30px;
    
}

.option-text {
    margin: 10px 10px;
    border: 1px solid rgba(86, 165, 235, 0.5);
    background-color: #fff;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    height: 30px;
    display: flex;
    padding: 5px 5px;
    align-items: center;
    color: black;
    font-weight: bold;
    width: 100%;
}

.option-text:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185, 235, 0.5);
    transform: translate(-0.1rem);
    transition: transform 150ms;
    background-color: #56a5eb;
}

/*position and aligning bottom control button*/
.controls {
    height: 80px;
    position: relative;
}

.controls-btn {
    font-size: 1rem;
    padding: 10px 0;
    width: 6rem;
    align-items: center;
    outline: none;
    margin-top: 10px;
    right: 0px;
    text-align: center;
    border: 1px solid #56a5eb;
    text-decoration: none;
    color: whitesmoke;
    background-color: #56a5eb;
    border-radius: 20px;
    height: 40px;
}

#next-btn {
    text-align: center;
    margin-right: 10px;
}

#previous-btn {
    text-align: center;
    margin-right: 10px;
}

.controls-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    cursor: pointer;
}

/*correct and incorrect color options referenced in javascript*/
.correct {
    background-color: #04BF20;
}

.incorrect {
    background-color: #BF1F2C;
}

/*styling and positiong for quiz end area*/

#end-area {
    background: url(../images/quiz-summary.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#end-area-container {
    display: flex;
    width: 800px;
    height: 400px;
    background: rgba(0,0,0,.9);
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    color: whitesmoke;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#end-main-heading {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.8;
    font-size: 50px;
    top: 50%;
    transform: translateY(-30%);
}

#end-area-container h3 {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 30px;
}






